extends home.pug

block routes

	div.about.fadein(style={display:'none'})

		div.res
			
			h4 What is this?

		div.edu

			h4 Education

			ul#edu

		div.skills

			h4 Skills

			ul#skills


	link(rel='stylesheet', href='/styles/about.css')
	script(src='/scripts/about.js')