extends home.pug

block routes

	div.about

		div.res
			h4 What is this?

			p This website is built as a prototype portfolio of projects made during and after my bachelor study at Gerrit Rietveld Academy. In the end of October 2017 I have started attending an intensive FullStack Javascript Development course and the <i>Code</i> section in the Projects tab has visual references to some of the projects that I’ve done during and after completing the course on January 19th this year. The website will be regularly updated with more visual materials, descriptions of the projects and extra functionality. 
			p Currently I am looking for a Junior Web Developer position in Amsterdam, if anything presented on this websites strikes your interest, feel free lookup my GitHub account or contact me.

		div.edu

			h4 Education

		div.skills

			h4 Skills

			


	link(rel='stylesheet', href='/styles/about.css')
	script(src='/scripts/about.js')