html
	head
		link(rel='stylesheet', href='/styles/contact.css')

	body

		div.modal#modal(style={display:'none;'})

			div.contact

				ul
					button#modx ✗

					li
						a(target='a_blank' href='https://github.com/Rainman24') Github
					li
						a(target='a_blank' href='https://github.com/Rainman24') Linkedin
					li 0101011011
					li contact@rainman24.com