div.modal#modal(style={display:'none;'})

	div.ctab

		ul
			button#modx ✗

			li
				a(target='a_blank' href='https://github.com/Rainman24') Github
			li
				a(target='a_blank' href='https://github.com/Rainman24') Linkedin
			
			li contact@rainman24.com

	link(rel='stylesheet', href='/styles/contact.css')