div.modal#modal(style={display:'none;'})

	div.ctab

		ul
			button#modx ✗

			li
				a(target='a_blank' href='https://github.com/Rainman24') Github
			li
				a(target='a_blank' href='https://www.linkedin.com/in/sasha-brice-15533111b/') Linkedin
			
			li contact@rainman24.com (inactive atm)

	link(rel='stylesheet', href='/styles/contact.css')