html

	head
		link(rel='shortcut icon', type='image/png', href='/images/favicon2.png')
		link(rel='stylesheet', href='/styles/home.css')

		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous")

		script(src='/scripts/home.js')

		title #{title}

	body

		include contact.pug

		div#grid

			div.horizontal.nav#top
			div.horizontal.nav#top2(style={display:'none'})

			div.horizontal.nav#bottom
			div.horizontal.nav#bottom2(style={display:'none'})

			div.vertical#left

			div.vertical#right

			if homepage
		
				div.display

					div.intro#intro

						canvas#canvas

			else if !homepage

				div.display

					block routes

script.

	var canvas = document.getElementById('canvas');
	var intro = document.getElementById('intro')
	var display = document.querySelector('.display')

	function flex(){

		canvas.width = intro.clientWidth
		canvas.height = display.clientHeight

		var ctx = canvas.getContext('2d');

		ctx.fillStyle = 'rgba(140,150,150,1)';

		ctx.fillRect(0,0,canvas.width,canvas.height);

		ctx.fillStyle = 'rgba(255,255,255,1)';
		//- ctx.fillStyle = 'radial-gradient(rgba(140,150,150,1),rgba(255,255,255,1))';

		ctx.fillRect(canvas.width/2-71,canvas.height/2-71,142,142);

		console.log(intro.clientWidth)
		console.log(display.clientHeight)

	}

	window.onresize = flex