* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1;
	background: rgba(0,0,0,0.6);
}

.ctab {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.ctab ul {
	grid-column: 2/3;
	grid-row: 2/3;
	box-shadow: 
	inset 2px 2px 2px rgba(255, 255, 255, .4), 
	inset -2px -2px 2px rgba(0, 0, 0, .4);
	background: radial-gradient(rgba(255,255,255,0.9),rgba(205,205,205,0.7));
	margin: 0;
	padding: 0;
	list-style: none;
}

.ctab li {
	padding: 20;
	text-indent: 20%;
}

.ctab li:nth-child(2) {
	margin-top: 30;
}

.ctab a {
	text-decoration: none;
	color: rgba(255,255,255,0.9);
	text-transform: uppercase;
	text-shadow: 1px 1px 4px #000000;
}

.ctab a:hover {
	text-decoration: line-through;
	text-shadow: 0px 0px 2px #000000;
}

#modx {
	float: right;
	border: 0;
	cursor: pointer;
	font-size: 2vw;
	font-family: Helvetica;
	padding: 10 20;
	background: rgba(250,250,250,0);
}

::selection {
	background: rgba(127, 127, 127, 0.3);
	color: white;
	text-shadow: 1px 1px 4px black;
}