* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT|Open+Sans');

body {
	margin: 0;
	padding: 0;
}

#grid {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 16fr 1fr;
	grid-template-rows: 9vh 82vh 9vh;
}

div.display {
	grid-column: 2/3;
	grid-row: 2/3;
	border: 1px solid black;
	overflow: hidden;
}

#top {
	grid-column: 2/3;
	grid-row: 1/2;
}

#right {
	grid-column: 3/4;
	grid-row: 2/3;
}

#bottom {
	grid-column: 2/3;
	grid-row: 3/4;
}

#left {
	grid-column: 1/2;
	grid-row: 2/3;
}

.horizontal {
	display: grid;
	grid-template-rows: repeat(3,1fr);
}

.vertical {
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

.nav ul {
	list-style: none;
	width: 100%;
	display: inline-block;
}

.nav li {
	float: left;
	width: 50%;
	text-align: center;
}

.nav a {
	text-align: center;
	text-decoration: none;
	color: navyblue;
	text-transform: uppercase;
	font-family: 'Old Standard TT', sans-serif;
}

.nav a:hover{
	color: white;
    text-shadow: 1px 1px 4px #000000;
}

#contact {
	cursor: pointer;
}

a[href='/projects'] {
	display: block;
	margin: auto;
	width: 20%;
}